.search-section__input {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    width: 564px;
    height: 24px;
    background-color: #f5f5f5;
    border: 0;
    overflow: hidden;
}

.search-section__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.38);
}