.item-info__type {
    width: calc(130px - 2 * 12px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: flex-start;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.38);
}