.time-chips {
    margin-top: 8px;
    margin-bottom: 20px;
    width: calc(100% - 2 * 16px);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    box-sizing: border-box;
}